<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>婚活サイト</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>

<body th:with="user=${#authentication.principal.user}">
	<!-- authenticationで認証ユーザー情報にアクセスできる 、principalプロパティでUserDetailsオブジェクトにアクセスできるので、user.mailでログインユーザー名が分かる-->

	<h2>
		<span th:text="${user.mail}">メアド</span> さん、ログイン中
	</h2>


	<table class="table table-striped table-bordered table-condensed">
		<h2>お気に入り 一覧</h2>
		<tr>
			<th>写真</th>
			<th>名前</th>
			<th>性別</th>
			<th>誕生日</th>
			<th>身長(cm)</th>
			<th>職業</th>
			<th>年収(万円)</th>
			<th>メールアドレス</th>
			<th>自己紹介</th>
		</tr>

		<tr th:each="profile : ${profiles}">
			<!-- エンコードした画像の表示 -->
			<td><img th:src="${'data:image/png;base64,' + profile.image}"
				width="250" height="150" /></td>
			<td th:text="${profile.name}">山田</td>
			<td th:text="${profile.gender}">男</td>
			<td th:text="${profile.birthday}">誕生日</td>
			<td th:text="${profile.height}">170</td>
			<td th:text="${profile.occupationName}">職業</td>
			<td th:text="${profile.income}">年収</td>
			<td th:text="${profile.mail}">メール</td>
			<!-- 「profile」オブジェクトがもつ「user」の「mail」を表示 -->
			<td th:text="${profile.text}">自己紹介</td>

			<td>
				<form th:action="@{/konkatsu/deleteFavorite}" method="post">
					<input type="hidden" name="userId" th:value="${user.userId}" /> <input
						type="hidden" name="favoriteUserId" th:value="${profile.id}" />
					<button type="submit">×</button>
					（お気に入りをやめる）
				</form>
			</td>
		</tr>
	</table>
		 <div th:fragment='paginationbar'>
		<ul>
			<li th:class="${page.first} ? 'disabled':''" style="display: inline">
				<span th:if="${page.first}">←先頭</span> <a th:if="${not page.first}"
				th:href="@{/konkatsu/favoriteList(userId=${param.userId}, page=0)}">←先頭</a>
			</li>
			<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
				th:class="(${i}==${page.number})? 'active' : ''"
				style="display: inline"><span th:if='${i}==${page.number}'
				th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
				th:href="@{/konkatsu/favoriteList(userId=${param.userId}, page=${i})}">
					<span th:text='${i+1}'>1</span>
			</a></li>
			<li th:class="${page.last} ? 'disabled':''" style="display: inline">
				<span th:if="${page.last}">末尾➝</span> <a th:if="${not page.last}"
				th:href="@{/konkatsu/favoriteList(userId=${param.userId}, page=(${page.totalPages}-1))}">末尾➝</a>
			</li>
		</ul>
	</div>

	<form th:action="@{/konkatsu/myProfile}" method="get">
		<input type="hidden" name="id" th:value="${user.userId}" />
		<button type="submit" class="btn btn-lg btn-primary btn-block">Myページへ</button>
	</form>

</body>
</html>

