<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>

<body>

<div class="container">
        <h2 class="form-signin-heading">ユーザー登録が完了しました！</h2>


    <form  th:action="@{/konkatsu}" method="get">
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="マイページ"/>
	</form>

</div>
</body>
</html>